# Permitir descargas de PDF
<Files "*.pdf">
    AddType application/pdf .pdf
    Header set Content-Disposition "attachment; filename=%{Content_Disposition}e"
</Files>

# Habilitar compresión
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE application/json
</IfModule>
